{% load i18n %}{% autoescape off %}
{% blocktranslate %}You're receiving this email because a password reset was requested for your account at {{ site_name }}.{% endblocktranslate %}
{% translate "Go to the following page and choose a new password: " %}
{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}
{% translate "Note that this link can be used only once." %}

{% translate 'Your username:' %} {{ user.get_username }}
{% translate "If you haven't made a password reset request, you can ignore this email." %}
{% translate "Thanks for using our site!" %}
{% endautoescape %}
