{% extends 'base.html' %}

{% block title %}Article Detail{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2 class="fw-bold">{{ article.title }}</h2>
            <span class="text-muted">
                By: {{ article.author.first_name }} {{ article.author.last_name}} | Published: {{ article.publication_date }} |
                Categories: {% for category in article.categories.all %} {{ category.name }} {% endfor %}
            </span>
        </div>
        <div class="card-body">
            {{ article.body|safe|linebreaks }}
            <div class="mt-4 text-end">
                <a class="btn btn-info me-1" href="{% url 'article_list' %}" role="button">&lt;- All Articles</a>
                {% if article.author == user %}
                    <a class="btn btn-secondary me-1" href="{% url 'article_update' article.pk %}" role="button">Edit</a>
                    <a class="btn btn-danger" href="{% url 'article_delete' article.pk %}" role="button">Delete</a>
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            <p>
                <h3><b>Comments</b></h3>
            </p>
            <p>
                <b>{{ user.first_name }} {{ user.last_name }}</b> &middot; <a href="{% url 'comment_create' %}?article={{ article.pk }}">Add new comment...</a>
            </p>
            {% for comment in article.comment_set.all %}
                <p>
                    <b>{{ comment.author.first_name }} {{ comment.author.last_name }}</b> &middot; {{ comment.comment }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}