{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load articles %}

{% block title %}Articles{% endblock title %}

{% block content %}
    <div class="card text-center">
        <a class="btn btn-primary fs-3 fw-bold fst-italic py-3" href="{% url 'article_create' %}">Create New Article</a>
    </div>
    <br/>

    <div class="card">
        <div class="card-body">
            <form method="get">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Apply</button>
            </form>
        </div>
    </div>
    <br/>

    <div class="d-flex justify-content-center">
        {% block which_list %}
            <a class="disabled btn btn-dark mx-2">All Articles</a>
            {% if user.is_authenticated %}
                <a class="btn btn-primary mx-2" href="{% url 'my_article_list' %}">My Articles</a>
            {% endif %}
        {% endblock which_list %}
    </div>
    <br/>

    {% if page_obj %}
        {% for article in page_obj %}
            <div class="card">
                <div class="card-header">
                    <h2 class="fw-bold">{{ article.title }}</h2>
                    <span class="text-muted">
                        By: {{ article.author.first_name }} {{ article.author.last_name}} | Published: {{ article.publication_date }} |
                        Categories: {% for category in article.categories.all %} {{ category.name }} {% endfor %}
                    </span>
                </div>
                <div class="card-body">
                    <p>{{ article.body|html_to_text|truncatewords:70 }}</p>
                    <a class="btn btn-primary stretched-link" href="{% url 'article_detail' article.pk %}" role="button">Read More</a>
                </div>
            </div>
            <br/>
        {% endfor %}
    {% else %}
        <div class="d-flex justify-content-center my-3">
            No articles yet. Create a new one using the button at the top.
        </div>
        <br/>
    {% endif %}

    <div class="pagination d-flex justify-content-center">
        {% if page_obj.has_previous %}
            <a href="{{ page_urls.first }}" class="btn btn-primary mx-1">First</a>
            <a href="{{ page_urls.previous }}" class="btn btn-primary mx-1">Prev</a>
        {% else %}
            <a class="disabled btn btn-dark mx-1">First</a>
            <a class="disabled btn btn-dark mx-1">Prev</a>
        {% endif %}

        <span class="current d-flex align-items-center mx-2">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="{{ page_urls.next }}" class="btn btn-primary mx-1">Next</a>
            <a href="{{ page_urls.last }}" class="btn btn-primary mx-1">Last</a>
        {% else %}
            <a class="disabled btn btn-dark mx-1">Next</a>
            <a class="disabled btn btn-dark mx-1">Last</a>
        {% endif %}
    </div>
    <br/>
    <br/>
    <br/>
{% endblock content %}
