{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Articles{% endblock title %}

{% block content %}
    <div class="card text-center">
        <a class="btn btn-primary fs-3 fw-bold fst-italic py-3" href="{% url 'article_create' %}">Create New Article</a>
    </div>
    <br/>


    <div class="card">
        <div class="card-body">
            <form method="get">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Apply</button>
            </form>
        </div>
    </div>
    <br/>

    {% for article in article_list %}
        <div class="card">
            <div class="card-header">
                <h2 class="fw-bold">{{ article.title }}</h2>
                <span class="text-muted">
                    By: {{ article.author.first_name }} {{ article.author.last_name}} | Published: {{ article.publication_date }} |
                    Categories: {% for category in article.categories.all %} {{ category.name }} {% endfor %}
                </span>
            </div>
            <div class="card-body">
                <p>{{ article.body|truncatewords:70 }}</p>
                <a class="btn btn-primary stretched-link" href="{% url 'article_detail' article.pk %}" role="button">Read More</a>
            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock content %}