{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Comment{% endblock title %}

{% block content %}
    <h2 class="my-4">Create New Comment</h2>

    <form method="post">
        {% csrf_token %}
        <p class="text-muted">Article: {{ article.title }}</p>
        <p class="text-muted">Authoring as: {{ user.first_name }} {{ user.last_name }}</p>
        {{ form|crispy }}
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock content %}